.banner-principal-decorativo
  &-1
    animation: rotation 3.5s ease-in-out infinite alternate
    position: absolute
    top: 55%
    right: 83%
  &-2
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 14%
    right: 15%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 5%
    right: 14%
  &-4
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 60%
    right: 5%
  
@keyframes rotation
  from 
    transform: rotate(0deg)
  to 
    transform: rotate(359deg)
 
@keyframes float1
  0%
    transform: translateY(70px)

  100%
    transform: translateY(0px)
  

.banner-interno__fondo
  background-image: url("../assets/curso/images/header/interno.svg") !important
  background-repeat: no-repeat 

.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6 
  color: #000


.banner-interno
  height: 114px
.banner-principal .tarjeta
  background-position: inherit !important
.titulo-principal__numero
  background-color: #EB6F2D !important
.titulo-principal__numero span
  color: #fff !important
.curso-main-container > .container
  overflow-x: clip !important
.titulo-segundo:after
  border-left-color: #EB6F2D !important
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: #12263F !important
.banner-principal__img img
  max-width: 500px !important
  display: inline
  position: relative
  bottom: -6px
.d-none.d-lg-block.col-lg-5.px-0.banner-principal__img
  padding: 0 !important
  text-align: center

.cs
  overflow-y: hidden

.titulo-principal__numero 
  min-width: 45px
  height: 45px
  margin-right: 15px
  position: relative
  background-color: #FFBA5B

.titulo-principal.color-acento-contenido .titulo-principal__numero span 
  color: #fff


.h1, .titulo-principal__numero span, .h6 
  font-family: "Roboto", sans-serif
  font-weight: 900
  line-height: 1.2
  color: #fff

.m-top
  margin-top: -40px

.m-top-1
  margin-top: -40px

.m-top-3
  margin-top: -30px

.m-top-4
  margin-top: -10px

.m-top-5
  margin-top: -15px !important

.m-top-6
  margin-top: -145px !important

.m-right
  right: -40% !important
  @media (max-width: 992px)
    right: -1% !important

.linea-tiempo-d__item__content__title 
  cursor: pointer
  font-size: 18px

.col-lg-3 
  flex: 0 0 auto
  width: 22%
  @media (max-width: 412px)
    margin-left: -75px !important
    width: 300px
  @media (max-width: $bp-max-md) 
    margin-left: -75px !important
    width: 300px
  @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
    height: 100% !important

.bg-color16
  background-color: #B7CEAC
  

.container-top
  border-radius: 5px 5px 5px 5px

.container-bottom 
  border-radius: 0px 0px 35px 35px

.fondo
  background-image: url('../assets/curso/images/tema1/back_intro.svg')
  background-size: cover
  background-repeat: no-repeat

.fondo-1
  background-image: url('../assets/curso/images/tema1/back.svg')
  background-size: cover
  background-repeat: no-repeat
  @media (max-width: 992px)
    background-color: #ffff
    background-repeat: no-repeat
    width: 780px !important
    height: 280px !important
    margin-left: 50px !important
  @media (max-width: 768px)
    background-color: #ffff
    background-repeat: no-repeat
    width: 580px !important
    height: 350px !important
    margin-left: 20px !important
  @media (max-width: 576px)
    background-color: #ffff
    background-repeat: no-repeat
    background-size: cover
    width: 100% !important
    height: 580px !important
    margin-left: 10px !important
  @media (max-width: 412px)
    background-repeat: no-repeat
    margin-left: 5px !important
  @media (max-width: 397px)
    background-color: #fff
    background-repeat: no-repeat
    width: 321px !important
    height: 414px !important
    margin-left: 1px !important

.fondo-2
  background-image: url('../assets/curso/images/tema1/back_info.svg')
  background-size: cover
  background-repeat: no-repeat

.fondo-3
  background-image: url('../assets/curso/images/tema3/back.svg')
  background-size: cover
  background-repeat: no-repeat

.fondo-4
  background: url('../assets/curso/images/tema4/jb_1.svg')
  background-size: 95% 91%
  background-position: bottom
  background-repeat: no-repeat
  background-position: 25px 85%
  @media (max-width: 992px)
    background: url('../assets/curso/images/tema4/jb_1_1.svg')
    background-repeat: no-repeat
    width: auto !important
    margin-left: 40px !important
    margin-top: 80px !important
    margin-bottom: 30px !important

.fondo-5
  background-color: #B7CEAC
  height: 100%
  @media (max-width: 992px)
    background: url('../assets/curso/images/tema4/jb_2_2.svg')
    background-repeat: no-repeat
    width: auto !important
    margin-top: 80px !important
    margin-bottom: 30px !important

.fondo-6
  background-image: url('../assets/curso/images/tema2/back_fig.svg')
  background-size: cover
  background-repeat: no-repeat

.jumbotron
  background-color: #B7CEAC

.jumbotron-1
  background-color: #FAB729

.jumbotron-2
  background-color: #FFD667
  box-shadow: 2px 4px 8px #cdcdcd

.jumbotron-3
  background-color: #FFE6A1

.jumbotron-4 
  background-color: #B7CEAC

.jumbotron-5
  background-color: #FFE6A1
  border-radius: 20px
  box-shadow: 2px 4px 8px #cdcdcd

.jumbotron-6
  background-color: #EEF3EB

.jumbotron-7
  background-color: #FFE6A1

.jumbotron-8
  background-color:  #FFD667

.jumbotron-9
  background-color: #B7CEAC
  border-radius: 20px
  box-shadow: 2px 4px 8px #cdcdcd

  
.jumbotron-10
  background-color: #B7CEAC
  height: auto
  @media (max-width: 412px)
    height: 300px !important
  @media (max-width: $bp-max-md) 
    height: 300px !important
  @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
    height: 100% !important

.jumbotron-11
  background-color: #E3EAE1
  border-radius: 20px

.jumbotron-12
  background-image:  url('../assets/curso/images/tema2/back_jum_1.svg')
  background-repeat: no-repeat
  background-size: cover
  height: 290px !important
 


.jumbotron-12-1
  background-image:  url('../assets/curso/images/tema2/back_jum_1.svg')
  background-repeat: no-repeat
  background-size: cover
  height: 290px !important



.jumbotron-13
  background-image:  url('../assets/curso/images/tema2/back_jum_2.svg')
  background-repeat: no-repeat
  background-size: cover

.jumbotron-14
  background-color: #CCD3CA

.jumbotron-15
  background-color: #FFFFFF
  border-radius: 20px
  box-shadow: 2px 4px 8px #cdcdcd
  @media (max-width: 412px)
    width: 180px
    margin-left: 60px


.jumbotron-16
  background-color: #B7CEAC
  border-radius: 20px
  box-shadow: 2px 4px 8px #cdcdcd

.jumbotron-17
  background-color: #FFE6A1
  border-radius: 20px
  box-shadow: 2px 4px 8px #cdcdcd
  

.jumbotron-18
  @media (max-width: 768px)
    background-color: #ffff
    margin-top: -250px !important
  @media (max-width: 576px)
    background-color: #ffff
    margin-top: -450px !important
  @media (max-width: 412px)
    background-color: #ffff
    margin-top: -500px !important

.jumbotron-19
  background-color: #FFFFFF
  border-radius: 20px
  box-shadow: 2px 4px 8px #cdcdcd
  height: 100px
  @media (max-width: 412px)
    width: 200px !important
  @media (max-width: $bp-max-md) 
    margin-left: 70px
    height: auto !important
  @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
    height: 100% !important


.jumbotrom-x
  @media (max-width: 992px)
    background-color: #fff
    background-repeat: no-repeat
    margin-top: 280px !important
    margin-left: 25px
  @media (max-width: 768px)
    background-color: #fff
    background-repeat: no-repeat
    margin-top: 1200px !important
    margin-left: 20px !important
  @media (max-width: 576px)
    background-color: #fff
    background-repeat: no-repeat
    margin-top: 850px !important
    margin-left: 25px
  @media (max-width: 412px)
    background-color: #fff
    background-repeat: no-repeat 
    margin-top: 800px !important
    margin-left: 25px
  @media (max-width: 397px)
    background-color: #fff
    background-repeat: no-repeat 
    margin-top: 1000px !important
    margin-left: 25px

.horizontal-scroll
  align-items: stretch!important

.mg-top-2
  margin-bottom: -150px !important

.mg-top-3
  margin-bottom: 150px !important

.txt-f1
  text-align: left !important

.txt-l1
  border-bottom: 1px solid #DC753F

.tabs-c.color-primario .tabs-c__tab--active 
  border-bottom-color: #EB6F2D !important

.tabs-c__tab--active:active, .tabs-c__tab--active:focus, .tabs-c__tab--active:hover 
  background-color: transparent

.bg_grad-01
  background-image: url('../assets/curso/images/tema1/back_slyder.svg')
  background-repeat: no-repeat
  background-size: cover
  @media (max-width: 992px)
    width: 100%
    margin-left: -24px
  @media (max-width: 768px)
    width: 100%
    margin-left: 5px
  @media (max-width: 576px)
    width: 100%
    margin-left: 2px
  @media (max-width: 412px)
    margin-left: -2px !important
  @media (max-width: 390px)
    margin-left: -5px !important


.tarjeta-blanca
  background-color: #F6F6F6
  border-top-left-radius: 15px
  border-top-right-radius: 15px
  border-bottom-right-radius: 15px
  border-bottom-left-radius: 15px
  width: auto !important
  height: 215px !important
  background-size: cover !important
  @media (max-width: 992px)
    bbackground-size: 100%
    width: 380px !important
    height: 255px !important
    margin-left: -40px !important
    margin-bottom: -120px !important
  @media (max-width: 768px)
    background-size: 100%
    width: 380px !important
    height: 255px !important
    margin-left: -40px !important
    margin-bottom: -120px !important
  @media (max-width: 576px)
    background-color: #F5F5F5
    background-repeat: no-repeat
    background-size: cover
    width: 100% !important
    height: 580px !important
    margin-left: -100px !important
  @media (max-width: 412px)
    background-color: #F5F5F5
    background-size: 100%
    width: 300px !important
    height: 215px !important
    margin-left: -40px !important
    margin-bottom: -80px !important
  @media (max-width: 397px)
    background-color: #F5F5F5
    background-size: 100%
    width: 300px !important
    height: 215px !important
    margin-left: -40px !important
    margin-top: 250px !important

.color-tarjeta-slyder-2
  background-color: #FFECD2

.slyder-a__tipo-b .slyder-a__btn--atrs 
  @media (max-width: $bp-max-md) 
    transform: translateY(146%) rotate(90deg) !important
    left: -10px !important
  @media (min-width: $bp-min-lg) 
    transform: translateY(146%) rotate(90deg) !important
    left: -10px !important

  
.slyder-a__tipo-b .slyder-a__btn--sigt 
  @media (max-width: $bp-max-md) 
    transform: translateY(146%) rotate(-90deg) !important
    right: -15px !important
  @media (min-width: $bp-min-lg) 
    transform: translateY(156%) rotate(270deg) !important
    left: -10px !important

.slyder-a__bullets 
  @media (max-width: $bp-max-md) 
    display: flex
    z-index: 10000
    top: 72px
  @media (min-width: $bp-min-lg) 
    display: flex
    z-index: 10000
    top: 82px

.acordion
  .tarjeta--gris
    background-color: #F6F6F6
    &.acordion__activo
      background-color: #B7CEAC

.tabs-c__tab--active 
    border-bottom: 6px solid !important
    font-size: 18px
    font-weight: bold !important

.slyder-a__tipo-b 
  position: relative
  display: flex
  justify-content: space-between
  align-items: center
  top: -120px



.color-custom-2
	background-color: #FFE6A1 
	&::before
		background-color: #FCC843


.color-custom-3
	background-color: #406834
	&::before
		background-color: #FFF

.color-custom-4
	background-color: #CED371 
	&::before
		background-color: #EFF0CF

.color-custom-7
  background-color: #B7CEAC

.color-custom-8
  background-color: #F6F6F6
  box-shadow: 2px 4px 8px #cdcdcd
 
.color-custom-9
  background-color: #FFB338

.color-custom-10 
  background-color: #FFE6A1
  border-radius: 20px !important
    
.tabs-a__tab
  background-color: #CCD3CA

.tabs-a__tab:hover, .tabs-a__tab:active, .tabs-a__tab:focus   
  color: #111e61
  background-color: #EB6F2D

.tabs-c.color-primario .tabs-c__tab--active::before 
  border-top-color: #EB6F2D

.linea-tiempo-d__item__content__title 
  cursor: pointer
  font-size: 18px

.linea-tiempo-d.color-secundario.especial .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
  background-color: #FFF9E7 !important
  color: #12263F

.linea-tiempo-d.color-secundario.especial
  .linea-tiempo-d__item--selected
    .linea-tiempo-d__item__number
      background-color: #FFF9E7 !important
      color: $color-sistema-texto
    .linea-tiempo-d__item__content
      background-color: #FFF9E7 !important
      color: #000

.color-tab
  background-color:  #FDF8EA!important

.back-tab
  background-color: #CCD3CA 
  @media (max-width: 992px)  
    background-size: cover

.vineta
  &::before
    content: url(../assets/curso/images/tema1/vineta.svg)

.bg-color-2
  background-image: url("../assets/curso/images/tema4/ico.svg") !important
  background-repeat: no-repeat 
  background-size: contain

.bg-color-3
  background-image: url("../assets/curso/images/tema4/ico_new.svg") !important
  background-repeat: no-repeat 
  background-size: contain


.bg-color-4
  background-image: url("../assets/curso/images/tema4/ico_new_1.svg") !important
  background-repeat: no-repeat 
  background-size: contain

.tabs-a__tab:hover, .tabs-a.color-acento-contenido .tabs-a__tab:active, .tabs-a.color-acento-contenido .tabs-a__tab:focus 
  background-color: #EB6F2D
  color: #fff !important

.tabs-a__tab__selected 
  background-color: #EB6F2D
  color: #fff !important


.color-text
  color: #EB6F2D

.th-1
	background-color: #EB6F2D
	color: white
  border-block-end-color: #000000
.th-2
	background-color: #EB6F2D

.th-3
  background-color: #FFFFFF

.th-4
	background-color: #F6F6F6
	color: black
  border-block-end-color: #000000  

.th-5 
  background-color: #4D793F !important

.th-6
  background-color: #B7CEAC !important

.th-7
  background-color: #FFD667 !important

.th-8
  background-color: #FFE6A1 !important

.tb
  border-top: 12px solid #EB6F2D

@media (max-whidth:$bp-max-sm)
.linea-tiempo-d__item__content__title, .linea-tiempo-d__item__number
  height: 65px

.linea-tiempo-d__item__content__title 
  cursor: pointer
  font-size: 20px
  @media (max-width: 412px)
    width: 350px
.linea-tiempo-d__item__dots::after 
  content: ''
  display: block
  width: 0
  height: 100%
  border-left: 5px dotted #E8CBD3

.linea-tiempo-d.color-secundario.especial
  .linea-tiempo-d__item--selected
    .linea-tiempo-d__item__number
      background-color: #FFE6A1
      color: $color-sistema-texto
    .linea-tiempo-d__item__content
      background-color: #FFE6A1
      color: #000